<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        <!-- タイトルヘッダーを作る -->
        <script src="../public/js/make_header.js"></script>

        <aside>
            <ul>
                <li><a href="http://localhost:3000/show-home">ショーページ一覧</a></li>
                <li><a href="http://localhost:3000/entertainer-home">キャストページ一覧</a></li>
                <li><a href="http://localhost:3000/administrator-home">ショー管理（要ログイン）</a></li>
            </ul>
        </aside>
        <div class="datas" style="display: none;">
            <select id="shift">
                <% shift.forEach(s => { %>
                    <option name= <%= s.day_and_time.getDate() +"-shift"%> >
                        <%= s.day_and_time.getHours() + "時" + s.day_and_time.getMinutes() + "分" + ":"
                        + s.show_name  + s.roll_name %>
                    </option>
                <% }); %>
            </select>

            <input type="text" id = "year" value = <%=y %>>
            <input type="text" id = "month" value = <%=m %>> 
        </div>

        <main>
            <h2 id="sub-title"><%= name %></h2>
            <div id="calendar">
                <h3 id="calendar_title"></h3>
                <table border="2">
                    <thead>
                        <tr>
                            <th>月</th>
                            <th>火</th>
                            <th>水</th>
                            <th>木</th>
                            <th>金</th>
                            <th>土</th>
                            <th>日</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div id="btn">
                <% let prev_m = m-1
                let next_m = m+1 
                let prev_y = y;
                let next_y = y;%>
                <% if(prev_m == 0){
                    prev_m = 12;
                    prev_y = prev_y - 1
                }
                if(next_m == 13){
                    next_m = 1;
                    next_y = next_y +  1;
                } %>
                <a href= <%= "http://localhost:3000/entertainer?entertainer_id=" + ent_id + "&y=" + prev_y + "&m=" + prev_m %> >
                ←前の月</a>
                <a href= <%= "http://localhost:3000/entertainer?entertainer_id=" + ent_id + "&y=" + next_y + "&m=" + next_m %> >
                次の月→</a>
            </div>
            
        </main>
        <!-- 基本のカレンダーを作る、〇日のBOXはIDが〇 -->
        <script src="../public/js/make_calendar.js" type="text/javascript"></script>
        <!-- 日付ごとに描画 -->
        

    </body>


</html>