<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
        <script type="text/javascript">
            setTimeout(function(){
                window.location.href = document.getElementById("trans_page").value
            }, 5 * 1000);
        </script>
    </head>
    <body>
        <% 
        let title = "";
        let attention = "";
        let get_name = "";
        let get_to = "";
        if(url == "/sign-up/end"){
           title = "管理アカウント申請"
           attention = "登録完了まで今しばらくお待ちください\n完了後、登録メールアドレスに通知が送信されます"
           get_name = "ホーム画面"
           get_to = "http://localhost:3000/home"
        }else if(url == "/accept-request"){
            title = "管理アカウント承認"
            attention = "完了後、管理者の登録メールアドレスに通知が送信されます"
            get_name = "ホーム画面"
            get_to = "http://localhost:3000/home"
        }else if(url == "/show-report/end"){
            title = "シフト報告　送信"
            attention = "管理者が報告を確認次第、情報が公開されます。"
            get_name = "シフトの公開画面"
            get_to = "http://localhost:3000/show?show_id=" + document.getElementById("show_id").value
        }else if(url == "/show-admin/report-detail"){
            title = "シフト公開"
            get_name = "シフトの公開画面"
            get_to = "http://localhost:3000/show?show_id=" + document.getElementById("show_id").value
        }else if(url == "/show-admin/create-position"){
            title = "ポジション登録"
            get_name = "シフトの公開画面"
            get_to = "http://localhost:3000/show?show_id=" + document.getElementById("show_id").value
        }else if(url == "/show-admin/announce"){
            title = "アナウンス作成"
            get_name = "シフトの公開画面"
            get_to = "http://localhost:3000/show?show_id=" + document.getElementById("show_id").value
        }else if(url == "/show-admin/shift-edit"){
            title = "シフト編集"
            get_name = "シフトの公開画面"
            get_to = "http://localhost:3000/show?show_id=" + document.getElementById("show_id").value
        }else if(url == "/entertainer/rename"){
            title = "キャストの名前編集"
            get_name = "キャストのホーム"
            get_to = "http://localhost:3000/entertainer?entertainer_id=" + document.getElementById("show_id").value
        }else if(url == "/entertainer/new-ent"){
            title = "新人キャスト登録"
            get_name = "キャストのホーム"
            get_to = "http://localhost:3000/entertainer?entertainer_id=" + document.getElementById("show_id").value
        }else if(url == "/entertainer/report"){
            title = "外部公演の登録"
            get_name = "キャストのホーム"
            get_to = "http://localhost:3000/entertainer?entertainer_id=" + document.getElementById("show_id").value
        }
        %>


        <script src = "public/js/make_header.js" type="text/javascript"></script>
        <h2><%= title %> 完了</h2>
        <p><%= attention %></p>
        <p>5秒後に自動で<%= get_name %>に戻ります</p>
        <input type="text" value=<%= show_id %> id="show_id" style="display: none;">
        <input type="text" value=<%= url %> id="url" style="display: none;">
        <p>戻らなければ<a href= <%= get_to %>>こちらをクリック</a></p>
    </body>
</html>