<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        
        <script src = "../public/js/make_header.js" type="text/javascript"></script>
        <main>
            <div class="title">
                <h2><%= show_name %> デビュー・新ポジション登録</h2>
            </div>
            <form action=<%= "http://localhost:3000/show/" + show_id + "report/end" %> 
                method="post" name="form">
                <div id="info">
                    <p>＜デビューしたショー日時＞</p>
                    <input type="datetime-local" name="time" require>
                </div>
                <div id="shift">
                    <p>デビューしたポジションとキャスト名を選択してください</p>
                    <p>新人キャストの場合は入力欄に名前を記入してください</p>

                    <select name="roll_name">
                        <option value="0" > 選択してください </option>
                        <% rolls.forEach(roll => { %>
                            <option value=<%=roll.roll_id %> > <%= roll.roll_name %> </option>
                        <% });%>
                    </select style="display:inline-block">

                    <select name="entertainer_name">
                        <option value="0" > 選択してください </option>
                        <% all_cast.forEach(cast => { %>
                            <option value=<%=cast.entertainer_id %> > <%= cast.entertainer_name %> </option>
                        <% });%>
                    </select>
                    <br>
                    <input type="text" name="text_entertainer_name">
                </div>
                <button name="send" type="submit">追加</button>
            </form>
            
        </main>
   </body>
</html>