<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        
        <script src = "../public/js/make_header.js" type="text/javascript"></script>
        <main>
            <div class="title">
                <h2><%= show_name %> シフト報告</h2>
            </div>
            <!-- 最終登録用POST -->
            <form action=<%= "http://localhost:3000/administrator/" + show_id + "/" + report_id %> method="post" name="form">
                <div id="info">
                    <p>＜ショー日時＞</p>
                    <input type="datetime-local" name="time" id = "input_tt" value=<%= td %> require>
                    <!-- チェック用非表示TTリスト -->
                    <select id = "tt" style="display: none;">
                        <% tt.forEach(t => { %>
                            <option value= <%= tt.day_and_time %> >
                        <% }) %>
                    </select>
                </div>
                <div id="shift">
                    <p>＜キャスト名報告＞</p>
                    <p>新ポジションの報告があった場合には、
                        <a href=<%= "http://localhost:3000/administrator/" + show_id + "/form-edit"%>>ここから</a>
                        ポジション名と出演したキャスト名を登録してください</p>
                    <!-- 送られるデータ：｛time:時間,"roll_id":"entertainer_id" or "debut_new" or "debut" ...｝ キャスト登録処理が終わったら全部entertainer_idになる-->
                    <% rolls.forEach(roll => { %>
                        <p> <%= roll.roll_name %></p>
                        <!-- 登録済みのキャストが未経験の役で出演（デビュー）-->
                        <% if(shift[roll.roll_id] == "debut" ){ %>
                            <p style="display: inline-block">デビュー：</p> 
                            <select name= <% roll.roll_id %>>
                            <% all_cast.forEach(cast => { %>
                                <option value = <% cast.entertainer_id %>
                                <% if (shift["debut" + element.roll_id] == cast.entertainer_id){ %>
                                    selected
                                <% } %> >  
                                    <%= cast.entertainer_name %> </option>
                            <% }) %>

                        <!-- 未登録の新人キャストが出演 -->
                        <% } else if( shift[roll.roll_id] == "debut_new" ){ %>
                            <p style="display: inline-block">未登録キャストデビュー：</p> 
                            <input type="text" name=<%= "debut_new" + element.roll_id %> value=<%= shift["debut_new" + element.roll_id] %>>
                            <p>ほかのショーも含め同一名でのキャスト登録ができません。同姓同名キャストが複数存在する場合は表記分けて登録してください。</p>
                            <p>同一名キャストの競合を避けるため、可能な限りSNSのアカウント名など正確な活動名で登録することを推奨します。</p>
                            <p>複数の呼称が存在するキャストについては（）などを用いてすべての表記を記載してください</p>
                            <!-- チェック用キャスト一覧リスト（非表示） -->
                            <select style="display: none;" id="all_cast_list">
                                <% all_cast.forEach(cast => { %>
                                    <option value=<%= cast.entertainer_name %> >
                                <%});%>
                            </select>
                            <!-- どこが編集されたのかを見るためのメモ用チェックボックス（非表示） -->
                            <input type="checkbox" name=<%="edit-check" + element.roll_id%> id=<%="edit-check" + element.roll_id%> style="display: none;">
                            <button id=<% "AddEntBtn_" +element.roll_id + "_" +  shift["debut_new" + element.roll_id] %> 
                                type="submit" onSubmit="check_new_ent(this)">キャスト一覧に登録</button>
                            <!-- 表記が競合していないかチェックが必要 -->
                            <!-- チェックできて、登録してOKならボタンでPOSTでentertainerテーブル登録 -->
                            <!-- ↑の状態に遷移できるようにbody[roll_id] = "debut",body["debut" + roll_id] = 登録したIDになるようにバック側で設定 -->

                        <!-- 登録済み、出演済みの通常報告(ポジ欠、不明もここで受ける) -->
                        <% } else {%>
                            <% roll_cast.forEach(re => { %>
                                <% if(roll.roll_name == re.roll_name) {%>
                                    <input type="radio" name = <%= roll.roll_id %> value = <%= re.entertainer_id %> 
                                    <% if(shift[roll.roll_id] == re.entertainer_id){ %>
                                        checked
                                    <% }; %> >
                                <%=re.entertainer_name %>
                                <% } %>
                            <% }); %>
                        <%}%>
                        <br>
                    <% }); %>
                </div>
                <input type="checkbox" id="check-confirm" name="check-confirm">
                <button name="send" type="submit" onSubmit="check_confirm(this)">確定して公開</button>
                <p>確定すると報告された情報は削除されます</p>
            </form>
            <script type="text/javascript">
                function check_new_ent(e){
                    let list = e.id.split("_");
                    const all_cast = document.getElementById("all_cast_list").options;
                    let flag = ture
                    for(let cast of all_cast){
                        if(list[2] == cast.label){
                            alart("入力されたキャスト名は既に使用されています");
                            return false
                        }
                    }
                    if(flag){
                        let check = document.getElementById("edit-check" + list[1]);
                        check.checked = true
                    }
                    return true
                };

                function check_confirm(e){
                    //日時がすでに登録済みかどうかもここでチェックしてはじいてほしい
                    let tt_list = document.getElementById("tt").options;
                    let tt_input = document.getElementById("input_tt").value;
                    for(let tt of tt_list){
                        if(tt_input == tt.label){
                            alart("この日時のショーはすでにシフトが登録・公開されています。\n編集は編集画面からおこなってください。");
                            return false
                        }
                    }
                    let check = documnet.getElementById("check-confirm");
                    return true
                };
            </script>
            
        </main>
   </body>
</html>