<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        
        <script src = "../public/js/make_header.js" type="text/javascript"></script>
        <main>
            <div class="title">
                <h2><%= show_name %> シフト報告</h2>
            </div>
            <form action=<%= "http://localhost:3000/show/" + show_id + "report/end" %> 
                method="post" name="form">
                <div id="info">
                    <p>＜ショー日時＞（修正依頼の場合も対象となるショーの日時を選択してください）</p>
                    <input type="datetime-local" name="time" require>
                </div>
                <div id="shift">
                    <p>＜キャスト名報告＞</p>
                    <% rolls.forEach(element => { %>
                        <p style="display:inline-block"> <%= element.roll_name %></p>
                        <!-- 誰だかわからない（規定値） -->
                        <input type="radio" name = <%= element.roll_id %> value = "1" checked="true"> キャスト不明
                        <!-- ポジ欠 -->
                        <input type="radio" name = <%= element.roll_id %> value = "2"> ポジション欠員
                        <% for(var i=0;i < roll_cast.length;i++){%>
                            <% if(element.roll_name == roll_cast[i].roll_name) {%>
                                <input type="radio" name = <%= element.roll_id %> 
                                value = <%= roll_cast[i].entertainer_id %>>
                                 <%= roll_cast[i].entertainer_name %>
                        <% }};%>
                        <input type="radio" name = <%= element.roll_id %> value = "debut">デビュー
                        <select name=<%= "debut" + element.roll_id %>>
                            <% all_cast.forEach(cast => { %>
                                <% for(var i=0;i < roll_cast.length;i++){%>
                                    <% if(element.roll_name == roll_cast[i].roll_name and roll_cast[i].roll_id == cast.entertainer_id){ %>

                                    <% }else{ %>
                                        <option value= <%= cast.entertainer_id %> > 
                                            <%= cast.entertainer_name %>
                                        </option>
                                    <% }} %>
                            <% }); %>
                        </select>
                        <input type="radio" name = <%= element.roll_id %> value = "debut_new">未登録キャスト（選択肢の中にない）
                        <input type="text" name= <%= "debut_new" + element.roll_id %> >
                        <br>
                    <% });%>
                </div>
                <div id="other">
                    <p>その他（情報訂正、デビューキャスト、新ポジション報告など）</p>
                    <input type="radio" name="other_type" value = "only_shift" checked="true"> 
                    その他なし、シフト報告のみ<br>
                    <input type="radio" name="other_type" value = "correction"> シフト情報修正依頼<br>
                    <input type="radio" name="other_type" value = "debut"> 新人キャストに関する情報提供<br>
                    <input type="radio" name="other_type" value = "new_position"> 新ポジション報告<br>
                    <input type="radio" name="other_type" value = "irregular_info"> 演出変更の情報提供<br>
                    <br>
                    <textarea name="other" rows="8" cols="50"></textarea>
                </div>
                
                <button name="send" type="submit">報告</button>
            </form>
            
        </main>
   </body>
</html>