<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        
        <script src = "../public/js/make_header.js" type="text/javascript"></script>
        <main>
            <div class="title">
                <h2><%=title%></h2>
            </div>
            <!-- 最終登録用POST -->
            <% if(title=="公開済みシフトの編集"){ %>
                <form action="http://localhost:3000/show-admin/shift-edit" method="post" name="form">
            <% }else{ %>
                <form action="http://localhost:3000/show-admin/report-detail" method="post" name="form">
            <% } %>
                <div id="info">
                    <!-- 確認用隠しフォーム -->
                    <input type="text" name="show_id" value = <%= show_id %> require style="display: none;">
                    <% if(title != "公開済みシフトの編集"){ %>
                        <input type="text" name="report_id" value = <%= report_id %> require style="display: none;">
                    <% } %>
                    <h3>＜ショー日時＞</h3>
                    <% console.log(td.toLocaleString().replace("/","-").replace("/","-").replace(" ","")) %>
                    <% console.log(td.toISOString().slice(0, -1)) %> 
                    <input type="datetime-local" name="time" id = "input_tt" 
                    value=<%= td.toISOString().slice(0, -1) %> require>
                    <!-- チェック用非表示TTリスト -->
                    <select id = "tt" style="display: none;">
                        <% tt.forEach(t => { %>
                            <option value= <%= tt.day_and_time %> >
                        <% }) %>
                    </select>
                </div>
                <div id="shift">
                    <h3>＜キャスト名報告＞</h3>
                    <h4>注意事項</h4>
                    <ul>
                        <li><b>新ポジションの報告</b>があった場合には、別途
                        <a href=<%= "http://localhost:3000/show-admin/create-position?show_id=" + show_id%>>ここから</a>
                        ポジション名と出演したキャスト名を登録してください</li>
                        <li><b>新人や未登録のキャストの報告</b>があった場合は、各リンクをクリックして登録を行ったのち、
                            このページを再度読み込みしてから報告してください</li>
                    </ul>
                    <!-- shift：｛time:時間,"roll_id":"entertainer_id" or "name" ...｝ キャスト登録処理が終わったら全部entertainer_idになる-->
                    <!-- shift_type:{"roll_id":"1"(normal) or "2"(debut) or "3"(new cast)} -->

                    <table border="1">
                        <tr>
                            <th>役名</th>
                            <th>種類</th>
                            <th>内容</th>
                        </tr>

                        <% rolls.forEach(roll => { %>
                            <tr>
                                <td> <%= roll.roll_name %></td>
                                <!-- 登録済みのキャストが未経験の役で出演（デビュー）-->
                                <% if(shift_type[roll.roll_id] == "2" ){ %>
                                    <td>デビュー</td> 
                                    <td>
                                        <select name= <%= roll.roll_id %>>
                                            <% all_cast.forEach(cast => { %>
                                                <% if (parseInt(shift[roll.roll_id]) == cast.entertainer_id){ %>
                                                    <option value = <%= cast.entertainer_id %> selected > <%= cast.entertainer_name %> </option>
                                                <% }else{ %>
                                                    <option value = <%= cast.entertainer_id %>> <%= cast.entertainer_name %> </option>
                                                <% } %>  
                                            <% }) %>
                                        </select>
                                    </td>

                                <!-- 未登録の新人キャストが出演 -->
                                <% } else if( shift_type[roll.roll_id] == "3" ){ %>
                                    <td>未登録キャストデビュー</td> 
                                    <td>
                                        <% let flag = false %>
                                        <% all_cast.forEach(cast => {%>
                                            <!-- 登録した -->
                                            <% if(cast.entertainer_name == shift[roll.roll_id]){ %>
                                                <% flag = true %>
                                                登録完了 <%= cast.entertainer_name %>
                                                <input type="radio" name = <%= roll.roll_id %> value = <%= cast.entertainer_id %> 
                                                    checked >
                                            <% } %>
                                        <% }) %>
                                        <% if(flag == false){ %>
                                            キャスト名：<%= shift[roll.roll_id] %> <br>
                                            <a href=<%= "http://localhost:3000/entertainer/new-ent?name=" + shift[roll.roll_id] 
                                             + "&redirect=/show-admin/report-detail?show_id=" + show_id + "ANDreport_id=" + report_id + "ANDnotice_id=" + notice_id  %>>
                                                シフト公開前にここから登録を行ってください
                                            </a>
                                        <% } %>
                                    </td>

                                <!-- 登録済み、出演済みの通常報告(ポジ欠、不明もここで受ける) -->
                                <% } else {%>
                                    <td>デビュー済み</td>
                                    <td>
                                        <% roll_cast.forEach(re => { %>
                                            <% if(roll.roll_name == re.roll_name) {%>
                                                <input type="radio" name = <%= roll.roll_id %> value = <%= re.entertainer_id %> 
                                                <% if(shift[roll.roll_id] == re.entertainer_id){ %>
                                                    checked
                                                <% }; %> >
                                            <%=re.entertainer_name %>
                                            <% } %>
                                        <% }); %>
                                    </td>
                                <%}%>
                            </tr>
                        <% }); %>
                    </table>
                   
                </div>
                <input type="checkbox" id="check-confirm" name="check-confirm" style="display: none;">
                <button name="send" type="submit" onSubmit="check_confirm(this)">確定して公開</button>
                <% if(title != "公開済みシフトの編集"){ %>
                    <p>確定すると報告された情報は削除されます</p>
                <% } %>
            </form>
            <script type="text/javascript">
                function check_new_ent(e){
                    let list = e.id.split("_");
                    const all_cast = document.getElementById("all_cast_list").options;
                    let flag = ture
                    for(let cast of all_cast){
                        if(list[2] == cast.label){
                            alart("入力されたキャスト名は既に使用されています");
                            return false
                        }
                    }
                    if(flag){
                        let check = document.getElementById("edit-check" + list[1]);
                        check.checked = true
                    }
                    return true
                };

                function check_confirm(e){
                    //日時がすでに登録済みかどうかもここでチェックしてはじいてほしい
                    let tt_list = document.getElementById("tt").options;
                    let tt_input = document.getElementById("input_tt").value;
                    for(let tt of tt_list){
                        if(tt_input == tt.label){
                            alart("この日時のショーはすでにシフトが登録・公開されています。\n編集は編集画面からおこなってください。");
                            return false
                        }
                    }
                    let check = documnet.getElementById("check-confirm");
                    return true
                };
            </script>
            
        </main>
   </body>
</html>