<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ショーシフト管理システム</title>
    </head>
    <body>
        
        <script src = "../public/js/make_header.js" type="text/javascript"></script>
        <main>
            
            <div class="title">
                <h2><%= show_name %> 管理ページ</h2>
            </div>
            <div>
                <% if(show_id != 1){ %>
                    <p><a href= <%= "http://localhost:3000/show/" + show_id %>> 公開ページはこちらから</a></p>
                <% } %>
            </div>
            <div class="main">
                <div id="report">
                    <h3>報告一覧</h3>
                    <!-- 【半分画面遷移】承認と修正ができる、表形式で出せるとよい、その他で入力されたものもここに表示 -->
                    <table id="notice-list">
                        <thead>
                            <!-- ショーの日時と種類だけ表示 -->
                            <tr>
                                <th>No.</th>
                                <th>種類</th>
                                <th>ショー日時</th>
                                <th>詳細</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% notices.forEach(element => { %>
                                <tr>
                                    <td><%= element.notice_id %></td>
                                    <td><%= element.type_of_message %></td>
                                    <td><%= element.time_and_day %></td>
                                    <td><button id=<%= "open" + element.notice_id %> onClick="show_detail(this)"> 詳細表示</td>
                                </tr>
                                <tr id= <% "shift-detail-" + element.notice_id %> style="display : none;">
                                    <td>シフト</td>
                                    <td>
                                        <% element.shift = JSON.parse(element.shift);%>
                                        <% for(var roll in element.shift){ %>
                                            <%= roll %> : <%= element.shift[roll] %> <br>
                                        <% } %>
                                    </td>
                                </tr>
                                <tr id= <% "other-detail-" + element.notice_id %> style="display : none;">
                                    <td>そのほか入力</td>
                                    <td>
                                        <%= element.content %>
                                    </td>
                                </tr>
                                <tr id = <%= "operate-" + element.notice_id %> style="display : none;">
                                    <% if(show_id != 1){ %>
                                        <td><a href =
                                            <%= "location.href='http://localhost:3000/show-admin/report-detail?show_id=" + show.show_id + "&report_id=" + element.report_id +  "'"%> >
                                            報告編集・公開 </a></td>
                                    <% }else{ %>
                                        <td><form action= <%= "http://localhost:3000/accept-account?notice_id = " + element.notice_id %> method="get">
                                                <button type="submit">申請承認</td>
                                    <% } %>

                                    <form name="delete-notice" 
                                    action="http://localhost:3000/show-admin/delete-notice" method="post">
                                        <input type="text" name="notice_id" maxlength="20" value = <%= element.notice_id %> 
                                        style="display:none;" requierd>
                                        <input type="text" name="report_id" maxlength="20" value = <%= element.report_id %> 
                                        style="display:none;" requierd>
                                        <input type="text" name="show_id" maxlength="20" value = <%= show_id %> 
                                        style="display:none;" requierd>
                                        <td><button name="delete" type="submit" sytle="background-color : red">削除（復元不可）</button></td>
                                    </form>
                                    <td><button id=<%= "close-" + element.notice_id %> onClick="close_detail(this)"> 閉じる</td>
                                </tr>
                            <% }); %>
                            <!-- 詳細表示 -->
                            <script type="text/javascript">
                                function show_detail(ele){
                                    let id = this.id.slice(4);
                                    document.getElementById("shift-detail-" + id).style.display = "contents";
                                    document.getElementById("other-detail-" + id).style.display = "contents";
                                    document.getElementById("operate-" + id).style.display = "contents";
                                };
                                function close_detail(ele){
                                    let id = this.id.slice(5);
                                    document.getElementById("shift-detail-" + id).style.display = "none";
                                    document.getElementById("other-detail-" + id).style.display = "none";
                                    document.getElementById("operate-" + id).style.display = "none";
                                };
                            </script>
                        </tbody>
                    </table>

                </div>
                
                <div id="insert-shift">
                    <a href= <%="http://localhost:3000/show-report?show_id=" + show_id %> >
                        <h3>シフト報告（報告後、承認作業が必要です。）</h3>
                    </a>
                    <!-- 一般入力用のページに飛ばして、ログイン判定で即公開みたいなことする？ 
                    -->
                </div>

                <div id="shift-edit">
                    <a href=<%="http://localhost:3000/show?show_id=" + show_id %>>
                        <h3>公開済みシフト編集</h3>
                    </a>
                    <!-- 
                    【画面遷移】
                    ショーページのホーム画面に飛ばして、ログイン判定、renderを分ける
                    キャスト名が書いてあるところをテキストボックスにして編集できるようにする
                    保存ボタンで送信
                    -->
                </div>

                <div id="new-position">
                    <h3>
                        <a href=<%= "http://localhost:3000/show-admin/create-position?show_id=" + show_id %>>新ポジション登録</a>
                    </h3>
                    <!-- 
                    【画面遷移】ポジション追加
                    -->
                </div>

                <div id="announce">
                    <h3>
                        <a href=<%= "http://localhost:3000/show-admin/create-position?show_id=" + show_id %>>新ポジション登録</a>
                    </h3>
                    <!-- 更新のお知らせなど この画面に直接フォームを書きたい-->
                </div>


            </div>
        </main>
   </body>
</html>